You can find cards at<br />

/cards/findAll<br />
/cards/find<br />
/cards/find/:id<br />
/cards/count/<br />
/cards/name/:name<br />
/cards/type/:type<br />
/cards/attack/:attack<br />
/cards/health/:health<br />
/cards/durability/:durability<br />
/cards/cost/:cost<br />
/cards/set/:set<br />
/cards/classs/:classs<br />
/cards/quality/:quality<br />
/cards/faction/:faction<br />
/cards/description/:description<br />

<p>
    <h3>Sets</h3>
    <ul>
        <li>2: Basic</li>
        <li>3: Expert</li>
        <li>4: Reward</li>
        <li>5: Missions</li>
        <li>11: Promotion</li>
    </ul>
    <h3>Quality</h3>
    <ul>
        <li>0: Free</li>
        <li>1: Common</li>
        <li>3: Rare</li>
        <li>4: Epic</li>
        <li>5: Legendary</li>
    </ul>
    <h3>Faction</h3>
    NOT DONE
    <h3>Type</h3>
    <ul>
        <li>4: Minion</li>
        <li>5: Spell</li>
        <li>7: Weapon</li>
    </ul>
    <h3>Classs</h3>
    <ul>
        <li>null: Neutral</li>
        <li>1: Warrior</li>
        <li>2: Paladin</li>
        <li>3: Hunter</li>
        <li>4: Rogue</li>
        <li>5: Priest</li>
        <li>7: Shaman</li>
        <li>8: Mage</li>
        <li>9: Warlock</li>
        <li>11: Druid</li>
    </ul>
    <h3>Race</h3>
    <ul>
        <li>null: Neutral</li>
        <li>14: Murloc</li>
        <li>15: Demon</li>
        <li>20: Beast</li>
        <li>21: Totem</li>
        <li>23: Pirate</li>
        <li>24: Dragon</li>
    </ul>
</p>
